.container{
  width: 90%;
  margin: 0 auto;
}

.row{
  display: flex;
}


.header, .footer{
  background: green;
}

.asade{
  background: yellow;
}

.content{
  display: flex;
  background: lightgray;
  width: 100%;
}